div.dialogueContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    backdrop-filter: blur(0px);
    transition-property: backdrop-filter;
    transition-duration: 2s;
}

.blur {
    backdrop-filter: blur(10px);
}

.dialogueBackground {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
}

.dialogueWindow {
    height: 20vh;
    width: 90vw;
    max-height: 300px;
    max-width: 500px;

    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}

.dialoguePassContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    backdrop-filter: blur(10px);
    gap: 30px;
}

.passHeader {
    font-size: 25px;
    text-align: center;
    width: 300px;
}

.passInput {
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
}

.passInput:focus {
    outline: none
}