div.dialogueContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation-name: blurAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes blurAnimation {
    from {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    to {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}

.dialogueBackground {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 35;
}

.minigameBackground {
    background-image: url(../images/paper.jpg);
}

.dialogueWindow {
    height: 20vh;
    width: 90vw;
    max-height: 300px;
    max-width: 500px;
    background-color: #E9D1AF;
    border: 3px solid #422110;
    margin-bottom: 5vh;
    border-radius: 0px 10px 10px 10px;
    position: relative;
    padding: 5px;
    display: grid;
}

.talkingHead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 70px;
    width: 70px;
    border: 3px solid #422110;
    top: -70px;
    left: -2px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 0px 0px;
}

.p-speaker {
    font-family: "GlacialR";
    font-size: 15px;
    width: fit-content;
    position: absolute;
    top: -25px;
    left: 64px;
    background-color: #E9D1AF;
    padding: 2px 10px;
    border: 3px solid #422110;
    border-radius: 0px 10px 0px 0px;
    border-bottom: none;
    text-align: center;
}


.p-line {
    font-family: "GlacialR";
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    --top-mask-size: 0px;
    --bottom-mask-size: 0px;
    top: -28px;
    left: 65.4px;
    font-size: 18px;
}

.p-line::-webkit-scrollbar {
    display: none;
}

.dialoguePassContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    gap: 30px;
    font-family: "GlacialR";
    background-color: rgba(255, 255, 255, 0.09);
}

.passLockedIcon {
    background-image: url(../images/lockLocked.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100px;
    width: 100px;
}

.passLockedIcon.passUnlocked {
    background-image: url(../images/lockUnlocked.png);
    -webkit-animation-name: jump;
    -webkit-animation-duration: 0.5s;
    animation-name: jump;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.passHeader {
    font-size: 30px;
    text-align: center;
    width: 300px;
    text-shadow: -2px -2px 10px rgb(255, 255, 255)rgba(255, 255, 255, 0.5);
}

.passHeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.passQuestionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-shadow: -2px -2px 10px rgb(255, 255, 255)rgba(255, 255, 255, 0.5);
}

.passQuestion {
    text-align: center;
}

.passInput {
    padding: 5px;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
    font-family: "GlacialR";
    text-align: center;
}

.passInput:focus {
    outline: none
}

.passInput.wrongPass {
    -webkit-animation: shake .5s ease-in-out;
    animation: shake .5s ease-in-out;
}

.passButton {
    width: 80px;
    height: 40px;
    font-family: "GlacialR";
    font-size: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-10px);
    }

    40% {
        -webkit-transform: translateX(10px);
    }

    60% {
        -webkit-transform: translateX(-10px);
    }

    80% {
        -webkit-transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.du-back-button {
    background-image: url(../images/back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 30px;
    left: 30px;

    height: 30px;
    width: 30px;
}