@font-face {
    font-family: "GlacialR";
    src: url(../fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: "GlacialB";
    src: url(../fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}

#map {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.startUpContainer {
    height: 100vh;
    width: 100vw;
    background-color: burlywood;
    border: 5px solid black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.startUpTitle {
    width: 255px;
    font-size: 34px;
    text-align: center;
}

.startUpButton {
    width: 150px;
    height: 50px;
}

#eventModal.modalDisabled {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

#eventModal {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

#eventModal.modalActive {
    visibility: visible;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
}

#infoModal {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(1.5px);
}

.modalWrapper {
    padding: 20px;
    height: 85vh;
    width: 85vw;
    max-height: 700px;
    max-width: 350px;
    background-color: #D1C8BD;
    border: 4px solid #39322C;
    border-radius: 5px;
}

.helpButton {
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 0;
    left: 0;
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/helpIcon.png);
}