@font-face {
    font-family: "GlacialR";
    src: url(../fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: "GlacialB";
    src: url(../fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}

@font-face {
    font-family: "Caveat";
    src: url(../fonts/caveat.regular.ttf);
}

#map {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.startUpContainer {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/frontPage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.blinking_text {
    font-family: "GlacialR";
    font-size: 5vw;
}

#eventModal.modalDisabled {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

#eventModal {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

#eventModal.modalActive {
    visibility: visible;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
}

#infoModal {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

    z-index: 100;
}

.modalWrapper {
    padding: 20px;
    height: 85vh;
    width: 85vw;
    max-height: 700px;
    max-width: 350px;
    background-color: #E9D1AF;
    border: 3px solid #422110;
    border-radius: 5px;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.closeInfo {
    justify-self: flex-end;
    background-image: url(../images/close.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.infoContent {
    font-family: "GlacialR";

    font-size: 20px;
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.infoContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.noticeImage,
.playerImage,
.locationImage,
.phoneImage,
.notebookImage,
.helpImage,
.resetButton {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.noticeImage {
    background-image: url("../images/location.png");
}

.playerImage {
    background-image: url("../images/deerhatIcon.png");
    display: inline-block;
}

.locationImage {
    background-image: url("../images/magnifyingIcon.png");
    display: inline-block;
}

.phoneImage {
    background-image: url("../images/phone.png");
}

.notebookImage {
    background-image: url("../images/notebook.png");
}

.helpImage {
    background-image: url("../images/helpIcon.png");
}

.pagesButtons {
    justify-self: center;
    display: flex;
    gap: 40px;
}

.nextP {
    background-image: url("../images/right-arrow.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.prevP {
    background-image: url("../images/left-arrow.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.helpButton {
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 0;
    left: 0;
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/helpIcon.png);
}

.resetButton {
    position: absolute;
    width: 12vw;
    height: 10vw;
    top: 51px;
    left: -6px;
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/resetIcon.png);
}