#mazeGameWrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

#mazeGame {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(25, 3.5vw);
    grid-template-rows: repeat(31, 3.5vw);
}

.cell.wall {
    background-color: #dfdfdf;
}

.player {
    height: 6vw;
    width: 6vw;
    justify-self: center;
    align-self: center;
    background-image: url(../images/dialogue/player.png);
    background-size: cover;
}

.mazeGoal {
    height: 6vw;
    width: 6vw;
    justify-self: center;
    align-self: center;
    background-image: url(../images/cross.png);
    background-size: cover;
}

.controlsContainer {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(2, 15vw);
    gap: 3px;
}

.controlButton {
    border: 2px solid grey;
}

.controlButton:active {
    border: none;
}

.up,
.down,
.rightright,
.left {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vw;
    width: 15vw;
    border: none;
}

.up:active,
.down:active,
.rightright:active,
.left:active {
    border: 1px solid rgba(255, 255, 255, 0.1)
}


.up {
    grid-row: 1;
    grid-column: 2;
    background-image: url(../images/upMaze.jpg);
    border-radius: 5px 5px 0px 0px;
}

.down {
    grid-row: 2;
    grid-column: 2;
    background-image: url(../images/downMaze.jpg);
}

.rightright {
    grid-row: 2;
    grid-column: 3;
    background-image: url(../images/rightMaze.jpg);
    border-radius: 0px 5px 5px 0px;
}

.left {
    grid-row: 2;
    grid-column: 1;
    background-image: url(../images/leftMaze.jpg);
    border-radius: 5px 0px 0px 5px;
}