.memory_parent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #39322C;
}

.memory_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 5px;
    max-width: 350px;
}

.memory_game {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 350px;
}

.memory_item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.25s;
    background: var(--img);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: white solid 3px;
}

.memory_item.memory_box_open {
    opacity: 1;
}

.memory_item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #7E6C55;
    transition: 0.25s;
    opacity: 1;
    border-radius: 5px;
}

.memory_box_open:after ,
.memory_box_match:after {
    opacity: 0;
}

.memory_box_match {
    border: lime solid 3px;
}