body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.nav {
    display: flex;
    width: 100%;
}

.notebook_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 0;
    right: 0;
    margin: 5vw;
    background: none;
    border: none;
    background-image: url(../images/notebook.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.phone_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 0;
    left: 0;
    margin: 5vw;
    border: none;
    background: none;
    background-image: url(../images/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notice_button::after {
    height: 20px;
    width: 20px;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/notice.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notice_contact::after {
    height: 25px;
    width: 25px;
    content: "";
    position: absolute;
    right: 0;
    background-image: url(../images/notice.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.phone_page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 5px;
}

.current_phone_page {
    margin-top: 5vh;
    font-size: 4.5vw;
    font-weight: bold;
}

.contacts {
    margin-top: 5vw;
    padding-top: 5vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    font-size: 4.5vw;
    border-bottom: solid black 3px;
}

.messages {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    overflow: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat_bubble {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: blue;
    width: fit-content;
    max-width: 60%;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    position: relative;
    padding-bottom: 40px;
    font-size: 5vw;
}

.message_text {
    color: white;
    font-weight: bold;
}

.message_state {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: .8;
}

.close_button {
    position: absolute;
    right: 40px;
    height: 5vw;
    width: 5vw;
    border: none;
    background: none;
    background-image: url(../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back_button {
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 5vw;
    width: 5vw;
    border: none;
    background: none;
    background-image: url(../images/back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notebook_container {
    box-sizing: border-box;
    position: absolute;
    padding: 30px 0;
    border-radius: 5px;
}

.notebook_page {
    background: #f9d697;
    height: 85vh;
    width: 90vw;
    padding: 40px;
    border-bottom: solid 2px black;
    position: relative;
}

.notebook_page>h3 {
    border-bottom: solid 2px black;
}

.current_notebook_page {
    font-size: 15px;
}

.notebook_img {
    position: absolute;
    top: -20px;
    left: 0;
    height: 50px;
    width: 100%;
    background-image: url("../images/notebook_top.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notebook_categories {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    font-family: "Caveat";
}

.notebook_list {
    margin-top: 5vw;
    overflow: hidden;
    overflow: scroll;
    height: 65vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.notebook_categories>h3 {
    border-bottom: solid 3px black;
    font-size: 7vw;
}

.clue_text {
    border-bottom: solid 3px black;
    font-size: 7vw;
    font-weight: bold;
    font-family: "Caveat";
}

.description {
    font-size: 5.5vw;
    font-weight: normal;
    font-family: "Caveat";
}

.notebook_popup_button {
    font-size: 5vw;
    font-style: normal;
    text-decoration: underline;
    text-align: end;
}

.notebook_popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notebook_popup_img {
    height: 50vh;
    width: 95vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.notebook_popup_close {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 5vw;
    width: 5vw;
    border: none;
    background: none;
    background-image: url(../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}