* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent_puzzle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.pieces_box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
}
.pieces_box .drag_box {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: gray;
}

.puzzle_image {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
}

.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
}

.drop_box {
    position: relative;
    width: 40px;
    height: 40px;
    background: gray;
}