* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.parent_quiz {
    display: grid;
    grid-template-rows: 30vh 70vh;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.quiz_question {
    justify-self: center;
    align-self: center;
    color: black;
    font-size: 4.5vw;
    text-align: center;
    padding: 20px;
    background-color: #D1C8BD;
    width: 80vw;
    border-radius: 5px;
    border: solid;
}

.button_container_quiz {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    height: 100%;
    width: 80vw;
}

.answer {
    width: 100%;
    height: 15%;
    font-size: 5vw;
    background: white;
    border-radius: 5px;
    border: solid;
}

.wrong {
    background: red;
}

.right {
    background: lime;
}