* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.parent_quiz {
    display: grid;
    grid-template-rows: 30vh 70vh;
    justify-content: center;
    height: 90vh;
    max-width: 500px;
    min-width: 350px;
}

.quiz_question {
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 40px;
}

.button_container_quiz {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 10vh;
}

.answer {
    width: 100%;
    height: 15vh;
    border-radius: 20px;
    color: white;
    background: #7E6C55;
}

.wrong {
    box-shadow: 0 0 25px red;
}

.right {
    box-shadow: 0 0 25px lime;
}