.minigameBackdrop {
    background: none;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#wordle-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: "GlacialR";
    justify-content: space-around;
}

.row-wrapper {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff29;
    border-radius: 10px;
    padding: 10px;
}

.row-container {
    max-height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.word-row {
    display: flex;
    gap: 10px;
}

.letter-box {
    max-height: 50px;
    max-width: 50px;
    background: transparent;
    border: 1px solid #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    height: 12vw;
    width: 12vw;
}

.letter-box.active {
    border: 1px solid #ffffff;
}

.letter-box.nothing {
    background-color: #3a3a3c;
}

.letter-box.wrong {
    background-color: #b59f3b;
}

.letter-box.right {
    background-color: #538d4e;
}

.row-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row-container::-webkit-scrollbar {
    display: none;
}

.keyboard-wrapper {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff29;
    border-radius: 10px;
}

.keyboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 95%;
    max-width: 410px;
}

.key-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    width: 30px;
    height: 44px;
    border-radius: 2px;
    background-color: #878888;
}

.key-box p {
    margin: 0;
    padding: 0;

    pointer-events: none;
    user-select: none;
}

.key-box.right {
    background-color: #538d4e;
}

.key-box.wrong {
    background-color: #b59f3b;
}

.key-box.nothing {
    background-color: #3a3a3c;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.erase-key,
.enter-key {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    border: none;

    width: 80px;
    height: 40px;
    background-color: #878888;
    color: white;
    font-family: "GlacialR";
    border-radius: 2px;
}

.wordleRight,
.wordleWrong,
.wordleNothing {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.wordleRight {
    background-image: url("../images/wordleright.png");
}

.wordleWrong {
    background-image: url("../images/wordlewrong.png");
}

.wordleNothing {
    background-image: url("../images/wordlenothing.png");
}

button.key-box {
    font-family: "GlacialR";
}